.app-sidebar {
  position: fixed;
  left: 0;
  top: 50px; // header height
  bottom: 50px; // footer height
  width: 250px;
  background-color: rgb(224, 255, 255);
  color: black;
  padding: 20px;
  // overflow-y: auto;
  transition: all 0.3s ease;

  &.closed {
    width: 60px;
    padding: 20px 10px;
    // overflow: hidden;

    .sidebar-title {
      display: none;
    }

    .toggle-btn {
      display: none;
    }

    .sidebar-menu span {
      display: none;
    }
  }

  /* Sidebar Header */
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        height: 50px;
        width: 50px;
      }

      .sidebar-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    .toggle-btn {
      background: none;
      border: none;
      color: black;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  /* Sidebar Menu */
  .sidebar-menu {
    list-style: none;
    padding: 0;

    li {
      margin: 15px 0;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        text-decoration: none;
        font-size: 1rem;
        padding: 8px 5px;
        border-radius: 5px;
        transition: background 0.2s ease;

        &:hover {
          background-color: white;
        }

        .menu-icon {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

/* Mobile responsive */
@media (max-width: 768px) {
  .app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transform: translateX(-100%);
    &.mobile-open {
      transform: translateX(0);
    }
  }
}
