<aside class="app-sidebar" [class.closed]="!isSidebarOpen">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <div class="logo">
      <img src="assets/icon/medicine.png" alt="Logo" (click)="toggle.emit()"/>
      <span *ngIf="isSidebarOpen" class="sidebar-title">PHARMA PRO</span>
    </div>
    <button class="toggle-btn" (click)="toggle.emit()">&#9776;</button>
  </div>

  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    <li>
      <a routerLink="/">
        <img src="assets/icon/dashboard.png" class="menu-icon" />
        <span *ngIf="isSidebarOpen">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <img src="assets/icon/sales.png" class="menu-icon" />
        <span *ngIf="isSidebarOpen">Sales</span>
      </a>
    </li>
    <li>
      <a routerLink="/contact">
        <img src="assets/icon/purchases.png" class="menu-icon" />
        <span *ngIf="isSidebarOpen">Purchases</span>
      </a>
    </li>
    <li>
      <a routerLink="/contact">
        <img src="assets/icon/products.png" class="menu-icon" />
        <span *ngIf="isSidebarOpen">Products</span>
      </a>
    </li>
  </ul>
</aside>
